
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

.containerstyle
{
  padding-top : 20px;
}
.titlestyle{
  font-family: $font-family-serif;
  
  
}
.buttonstyle{
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  background-color: $homeblue;
  color: white;
}
.buttonstyle-danger{
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  background-color: $red;
  color: white;
}
.cardstyle
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerstyle
{
  padding-right: 30px;
  margin: 10px;
}

.rowstyle
{
  padding-top: 40px;
  padding-bottom: 40px;
}

.blue{
  color: $homeblue;
}